@font-face {
  font-family: "structure sans";
  src: url("../fonts/Structure\ Sans.ttf");
}

.avatar {
  text-align: center;
}

.inputDiv {
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
}

.AButton {
  text-align: center;
  margin: 1vh;
  margin-top: 8vh;
}

.update_div {
  text-align: center;
  margin-bottom: 1%;
}

.label_text {
  text-align: center;
  font-family: structure sans;
  font-size: 20px;
}

.botonSmallSignOut{
  text-align: center;
}

.botonBigSignOut{
  text-align: center;
}

@media (max-width: 640px) {
  .form-widget {
    margin-top: -3vh;
    padding: 2em;
    background-color: #fff;
    background-color: rgba(44, 44, 44, 0.25);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    margin-left: 1vh;
    margin-right: 1vh;
  }

  .elementEmail {
    margin-left: -5vh;
    margin-right: -5vh;
    border-radius: 10px;
    background: #9c00b0;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 3vh;
  }
  
  .elementUsername {
    margin-left: -5vh;
    margin-right: -5vh;
    border-radius: 10px;
    background: #9c00b0;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 3vh;
    margin-bottom: 2vh;
  }

  h3 {
    margin: 1vh;
    margin-bottom: 2vh;
    font-size: 24px;
  }

  .update_div h3 {
    font-size: 27px;
    margin-bottom: 3vh;
  }

  .account_title {
    text-align: center;
    margin-bottom: 2%;
    font-family: structure sans;
    font-size: 50px;
    margin-bottom: 2vh;
    color: #9c00b0;
    text-shadow: 2px 0 0 rgb(139, 139, 139), -2px 0 0 rgb(139, 139, 139),
      0 2px 0 rgb(139, 139, 139), 0 -2px 0 rgb(139, 139, 139),
      1px 1px rgb(139, 139, 139), -1px -1px 0 rgb(139, 139, 139),
      1px -1px 0 rgb(139, 139, 139), -1px 1px 0 rgb(139, 139, 139);
  }

  .botonBigSignOut{
    display: none;
  }

  .inputAccount{
    text-align: center;
  }
}

@media (min-width: 641px) {
  .form-widget {
    padding: 2em;
    background-color: #fff;
    background-color: rgba(44, 44, 44, 0.25);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    margin-left: -2vh;
    margin-right: -2vh;
  }

  .elementEmail {
    border-radius: 10px;
    background: #9c00b0;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 2vh;
  }
  
  .elementUsername {
    border-radius: 10px;
    margin-top: 2vh;
    background: #9c00b0;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
  }

  h3 {
    margin: 1vh;
    margin-bottom: 4vh;
    font-size: 35px;
  }

  .account_title {
    text-align: center;
    margin-bottom: 2%;
    font-family: structure sans;
    font-size: 75px;
    color: #9c00b0;
    text-shadow: 2px 0 0 rgb(139, 139, 139), -2px 0 0 rgb(139, 139, 139),
      0 2px 0 rgb(139, 139, 139), 0 -2px 0 rgb(139, 139, 139),
      1px 1px rgb(139, 139, 139), -1px -1px 0 rgb(139, 139, 139),
      1px -1px 0 rgb(139, 139, 139), -1px 1px 0 rgb(139, 139, 139);
  }

  .botonBigSignOut{
    display: none;
  }

  .inputAccount{
    text-align: center;
    width: 70%;
    height: 5vh;
    font-size: 25px;
  }
}

@media (min-width: 1008px) {
  .registerWidget {
    margin-top: 7vh;
    padding: 2em;
    background-color: #fff;
    background-color: rgba(44, 44, 44, 0.25);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    margin-left: 1vh;
    margin-right: 1vh;
  }

  .descriptionText{
    font-size: 20px;
    text-align: center;
    text-justify: kashida;
    margin-bottom: 4vh;
  }
  
  .inputAccount{
    text-align: center;
    width: 70%;
    height: 7vh;
    font-size: 25px;
  }
}