@font-face {
  font-family: "structure sans";
  src: url("../fonts/Structure\ Sans.ttf");
}

.data_home {
  text-align: center;
}

.home_text {
  margin-left: auto;
  text-align: center;
}

.botonGo {
  margin-bottom: 5vh;
}

@media (max-width: 900px) {
  .container_home_container {
    padding: 2em;
    background-color: #fff;
    background-color: rgba(44, 44, 44, 0.25);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    margin-left: 2.5vh;
    margin-right: 2.5vh;
    margin-top: 3vw;
  }

  .homeTitle {
    font-size: 40px;
    font-family: structure sans;
    margin-bottom: 10vw;
  }

  .home_text_p {
    font-weight: bold;
    line-height: 170%;
    font-size: 18px;
  }

  .imageBracket {
    display: none;
  }

  .home_text_p_button {
    margin-top: 10vw;
    font-weight: bold;
    line-height: 170%;
    font-size: 23px;
  }
}

@media (min-width: 901px) {
  .container_home {
    padding: 2em;
    background-color: #fff;
    background-color: rgba(44, 44, 44, 0.25);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    margin-left: 12vh;
    margin-right: 12vh;
    margin-top: 3vw;
  }

  .home_text_p {
    font-weight: bold;
    line-height: 170%;
    font-size: large;
  }

  .home_text_p_button {
    font-weight: bold;
    line-height: 170%;
    font-size: large;
  }

  .homeTitle {
    font-size: 55px;
    font-family: structure sans;
  }

  .imageBracket {
    height: 400px;
    width: auto;
    margin-bottom: 10vh;
  }
}
