@font-face {
  font-family: 'structure sans'; 
  src: url('../fonts/Structure\ Sans.ttf'); 
}
  
  .titleText{
    text-align: center;
    margin-bottom: 2%;
    font-family: structure sans;
    font-size: 50px ;
    color: black;
    text-shadow: 2px 0 0 rgb(139, 139, 139), -2px 0 0 rgb(139, 139, 139), 0 2px 0 rgb(139, 139, 139), 0 -2px 0 rgb(139, 139, 139), 1px 1px rgb(139, 139, 139), -1px -1px 0 rgb(139, 139, 139), 1px -1px 0 rgb(139, 139, 139), -1px 1px 0 rgb(139, 139, 139);
}

.foooter{
  margin-top: 1vh;
  text-align: center;
  display: inline;
}

.boto1{
  margin-top: 8vh;
  margin-left: 19%;
}
