@font-face {
  font-family: 'structure sans'; 
  src: url('../fonts/Structure\ Sans.ttf'); 
}


@media (min-width: 1001) {
  .buttons-team{
    margin-left: 20%;
  }

  .titleText{
    text-align: center;
    margin-bottom: 2%;
    font-family: structure sans;
    font-size: 50px ;
    color: black;
    text-shadow: 2px 0 0 rgb(139, 139, 139), -2px 0 0 rgb(139, 139, 139), 0 2px 0 rgb(139, 139, 139), 0 -2px 0 rgb(139, 139, 139), 1px 1px rgb(139, 139, 139), -1px -1px 0 rgb(139, 139, 139), 1px -1px 0 rgb(139, 139, 139), -1px 1px 0 rgb(139, 139, 139);
  }
  
  .foooter{
    margin-top: 1vh;
    text-align: center;
    display: inline;
  }
  
  .boto1{
    margin-top: 8vh;
    margin-left: 19%;
  }
  
  .team-buttons{
    max-width: 50px;
  }

  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
  }
  
  .modal-main {
    position:fixed;
    background: white;
    width: 80%;
    height: auto;
    top:50%;
    left:45%;
    transform: translate(-50%,-50%);
    opacity: 0.95;
    background-color: #4b2250;
  }
  
  .display-block {
    display: block;
  }
  
  .display-none {
    display: none;
  }
  
  .titol{
    text-align: center;
    margin-bottom: 2%;
    font-family: structure sans;
    font-size: 50px ;
    color: black;
    text-shadow: 2px 0 0 rgb(139, 139, 139), -2px 0 0 rgb(139, 139, 139), 0 2px 0 rgb(139, 139, 139), 0 -2px 0 rgb(139, 139, 139), 1px 1px rgb(139, 139, 139), -1px -1px 0 rgb(139, 139, 139), 1px -1px 0 rgb(139, 139, 139), -1px 1px 0 rgb(139, 139, 139);
  }
  
  .container-modal{
    margin: 5% 5%;
  }
  
  .text{
    color: black;
  }

  table{
    border:1px solid black;
    color: black;
    width: 500px;
    margin: 50px;
    border-collapse: collapse !important;
    border: none !important;
    border-radius:25px;
  }

  table td {
    border: none !important
  }
  table th:first-child {
    border-radius: 10%;
    -moz-border-radius: 25px 0 0 0 !important;
  }
  table th:last-child {
    border-radius: 10%;
    -moz-border-radius: 0 25px 0 0 !important;
  }
  table tr:last-child td:first-child {
    border-radius: 10%;
    -moz-border-radius: 0 0 0 25px !important;
  }
  table tr:last-child td:last-child {
    border-radius: 10%;
    -moz-border-radius: 0 0 25px 0 !important;
  }
  table tr:hover td {
    background-color: #ddd !important
  }
  
  td{
    border:1px solid black;
    color: black;
    background-color: white;
    max-width: 50px;
  }

  .titol-tabla{
    background-color: purple;
    color: white;
    font-size: 20px;
  }

  .results{
    overflow-y:auto;
    overflow-x:hidden;
    max-height: 400px;
  }

  .inputField-result{
    max-width: 50px;
  }

  .inputField-createTeam{
    width: 100vh;
  }

  .results::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
  }
  .results::-webkit-scrollbar-thumb {
    background-color: #9c00b0;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
  }

  .calendar::-webkit-calendar-picker-indicator{
    background-color: purple !important
  }

  input.calendar{
    background-color: purple !important
  }

  .calendar{
    max-width: 35px;
  }
}

@media (max-width: 1000px) {

  .titleText{
    text-align: center;
    margin-bottom: 2%;
    font-family: structure sans;
    font-size: 50px ;
    color: black;
    text-shadow: 2px 0 0 rgb(139, 139, 139), -2px 0 0 rgb(139, 139, 139), 0 2px 0 rgb(139, 139, 139), 0 -2px 0 rgb(139, 139, 139), 1px 1px rgb(139, 139, 139), -1px -1px 0 rgb(139, 139, 139), 1px -1px 0 rgb(139, 139, 139), -1px 1px 0 rgb(139, 139, 139);
  }
  
  .foooter{
    margin-top: 1vh;
    text-align: center;
    display: inline;
  }
  
  .boto1{
    margin-top: 8vh;
    margin-left: 19%;
  }
  
  
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
  }
  
  .modal-main {
    position:fixed;
    background: white;
    width: 90%;
    height: auto;
    top:40%;
    left:50%;
    transform: translate(-50%,-50%);
    opacity: 0.95;
    background-color: #4b2250;
  }
  
  .display-block {
    display: block;
  }
  
  .display-none {
    display: none;
  }
  
  .titol{
    text-align: center;
    margin-bottom: 2%;
    font-family: structure sans;
    font-size: 50px ;
    color: #9c00b0;
    text-shadow: 2px 0 0 rgb(139, 139, 139), -2px 0 0 rgb(139, 139, 139), 0 2px 0 rgb(139, 139, 139), 0 -2px 0 rgb(139, 139, 139), 1px 1px rgb(139, 139, 139), -1px -1px 0 rgb(139, 139, 139), 1px -1px 0 rgb(139, 139, 139), -1px 1px 0 rgb(139, 139, 139);
  }
  
  .container-modal{
    margin: 5% 5%;
  }
  
  .text{
    color: white;
    font-style: italic;
  }

  table{
    border:1px solid white;
    color: black;
    width: 80%;
    margin: 50px;
    border-collapse: collapse !important;
    border: none !important;
    border-radius:25%;
  }

  table td {
    border: none !important
  }
  
  td{
    border:1px solid black;
    background-color: white;
    color: black;
  }

  .titol-tabla{
    background-color: purple;
    color: white;
    font-size: 20px;
  }

  .results{
    overflow-y:auto;
    overflow-x:hidden;
    max-height: 400px;
  }

  .inputField-result{
    max-width: 50px;
  }
  
  .inputField-createTeam{
    width: 100vh;
  }

  .results::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
  }
  .results::-webkit-scrollbar-thumb {
    background-color: #9c00b0;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
  }

  .calendar::-webkit-calendar-picker-indicator{
    background-color: purple !important
  }

  input.calendar{
    background-color: purple !important;
    border: none;
  }

  .calendar{
    max-width: 64px;
    align-items: center;
  }

  .date-style{
    font-size: 15px;
    margin-top: 12px !important;
  }
}