@font-face {
    font-family: 'structure sans'; 
    src: url('../fonts/Structure\ Sans.ttf'); 
}

.navigation{
    background-color: #560061;
}

.logo{
    height: 60px;
    width: auto;
    margin-top: 5%;
}

.nav-item{
    margin-left: 20%;
    font-size: 18px;
}

.nav-link{
    
    font-family: structure sans;
    font-size: 25px ;
    color: #9c00b0;
    
}

