@media (max-width: 774px) {
  .navbar {
    display: none;
  }

  .navbarSmall .containerHamburger .linksMobile {
    display: inline-block;
    text-align: center;  
    padding-bottom: 3%;
  }

  .navbarSmall .containerHamburger .linksMobile .navbar-nav {
    text-align: center;  
    display: inline-block;
    position: relative;
    left: 1%;
  }

  .navbarSmall .containerHamburger .linksMobile .navbar-nav > .nav-item {
    display: inline-block;
    text-align: center;  
  }
}

@media (min-width: 775px) {
  .navbarSmall {
    display: none;
  }
}