@media (max-width: 1000px) {
    .navbar{
        display: none;
    }

    .navbarSmall .containerHamburger .linksMobile{
        width: 100%;
        height: auto;
        left: 0;
        background-color: black;
    }
    
}

@media (min-width: 1001px) {
    .navbarSmall{
        display: none;
    }
}