@font-face {
  font-family: "structure sans";
  src: url("../fonts/Structure\ Sans.ttf");
}

.container-tournament{
  margin-left: 20%;
  margin-top: 5%;
  display: flex;
}

.final{
  margin-top: 3.5%;
}

.nom-torneig{
  display: flex;
}

.no-display{
  display: none;
}
