@font-face {
  font-family: "structure sans";
  src: url("../fonts/Structure\ Sans.ttf");
}

.container-tournament{
  margin-left: 20%;
  margin-top: 5%;
  display: flex;
}


.final{
  margin-top: 3.5%;
}

.nom-torneig{
  display: flex;
}

.no-display{
  display: none;
}

.btn-results{
  width: 200px;
  margin-top: 50px;
}

table{
  border:1px solid black;
  color: black;
  width: 500px;
  margin: 50px;
}

td{
  border:1px solid black;
  color: black;
  max-width: 50px;
}

.results{
  overflow-y:auto;
  overflow-x:hidden;
  max-height: 400px;
}

.inputField{
  max-width: 50px;
}

.results::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}
.results::-webkit-scrollbar-thumb {
  background-color: #9c00b0;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
}
